.article-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem 1rem;

  .article-custom-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--bs-primary);
  }

  .prediction-container {
    margin-top: 1rem;
  }
}
