@import "/src/styles/extend.scss";

.article-chart-items {
    width: 100%;
    margin-top: 1rem;

    .article-chart-empty {
        text-align: center;
        padding: 2rem;
        color: var(--text-color-secondary, #666);
    }
}